* {
  margin: 0%;
  padding: 0%;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dark {
  color: aliceblue;
  background: #000;
}
.light {
  background: #ffff;
  color: #000;
}
.container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  height: 300px;
  width: 350px;
  word-break: break-all;
}
.input {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input input {
  color: #ffffff;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 0px 10px;
  font-size: 16px;
}
.input input::placeholder {
  color: pink;
}
.changedtext {
  height: calc(300px - 35px);
  padding: 0px 10px;
}
.btn{
  width: 100px;
  height: 40px;
  border-radius: 0px 10px 0px 10px;
  background: #000;
  color: #fff;
  font-size: 15px;
}

