.container{
  padding: 10px 10px;
  width: 100dvw;
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
  justify-content: space-evenly;
}
.card {
  padding: 10px 20px;
  margin: 10px 0px;
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: space-between;
  background-color: lightskyblue;
  color: #404040;
  font-size: 10px;
  font-family: "poppins";
}
